$cor-Primaria: #0070f3;
$cor-Secundaria: rgb(2, 105, 2);
$text-color: white;

.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $text-color;
    background: linear-gradient(135deg, $cor-Primaria, $cor-Secundaria); 
    font-family: "Coming Sans MS";
}

.title{
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.subtitle{
    font-size: 1rem;
    margin-top: 1rem;
    color: lighten($text-color, 20%);
    font-weight: bold;
}